/* CSS Document */
body{ text-align:center; margin:0; padding:0; color:#000000;font-family:"微软雅黑"; background:#F2F2F2 }
ul{ margin:0; padding:0}
li{ list-style:none}
dl{ margin:0; padding:0}
a{ text-decoration:none; color:#000000;font-family:"微软雅黑"}
a:hover{ color:#004477}
img{ border:none}
.clear{ clear:both}



@media screen and (max-width: 11920px) {

/*公共部分*/
body{font-size:14px}
.pconly{ display:block}
.mobileonly{ display:none}
.topheader{ height:50px; background:#292929; text-align:center}
.topheader1{ width:1002px; margin:0 auto}
.logo{ float:left}
.topnav{ float:left}
.topnav ul li{ float:left; height:50px; line-height:50px; font-size:16px; font-weight:bold; padding-left:15px; padding-right:15px;-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}
.topnav ul li:hover{ background:#1CB21C}
.topnav ul li a{ color:#FFFFFF}
.myzone{ float:right; color:#FFFFFF; height:50px; line-height:50px; font-size:16px; background:url(../images/topxl.gif) no-repeat; background-position:right; padding-right:20px; position:relative}
.myzone ul{ position:absolute; left:0px; top:48px; z-index:10; display:none; background:#1CB21C;width:130px}
.myzone ul li{ padding-left:20px; padding-right:20px; height:30px; line-height:30px; }
.myzone ul li a{ color:#FFFFFF}
.myzone ul li:hover{ background:#292929;}
.myzone:hover ul{ display:block;}
.thisnav{ width:1002px; margin:0 auto ; text-align:left; padding-top:10px; padding-bottom:10px; font-size:12px}
.navnotice{ background:url(../images/textbg.png) no-repeat; padding-left:5px; padding-right:10px; padding-top:2px; padding-bottom:2px; color:#FFFFFF; margin-right:15px}
.main{ width:1002px; margin:0 auto}
.sidebar{ float:left; width:240px; background:#FFFFFF; border:1px #E0E0E0 solid; padding-bottom:30px; display:block}
.sidebar dl dt{ background:#1CB21C; width:180px; margin:0 auto; margin-top:20px; text-align:left; padding-left:20px; color:#FFFFFF; height:35px; line-height:35px; font-size:15px; font-weight:bold}
.sidebar dl dt a{ color:#FFFFFF}
.sidebar dl dd{ height:30px; line-height:30px; text-align:left}
.thisout dd{ display:none}
.addinfo{ float:right; margin-right:30px}

.mainright{ float:right; width:740px; text-align:left;  display:block}
.mainright_pagename{ height:30px; line-height:30px; border-bottom: 1px #E0E0E0 solid; padding-left:10px; font-size:18px; color:#F67F00; font-weight:bold; margin-bottom:20px}
.footer{ padding-top:30px; padding-bottom:30px; margin-top:30px; background:#FFFFFF; border-top:2px #E0E0E0 solid;}
/*用户登录*/
.loginform{ border:2px #E0E0E0 solid; width:555px; margin:50px auto; background:#FFFFFF}
.loginform_head{ height:80px; background:#F6F6F6}
.loginform_head_left{ float:left; font-size:30px; font-weight:bold; padding-left:30px; height:80px; line-height:80px; color:#333333}
.loginform_head_right{ float:right; margin-top:45px; margin-right:20px}
.loginform_head_right a{ color:#99CC00}
.loginform_main{ padding-top:20px; padding-bottom:30px}
.loginform_main li{ text-align:left;line-height:50px}
.loginform_main li span{ display:block; float:left; width:100px; text-align:right; margin-right:10px; height:50px; line-height:50px}
.loginform_main li input[type=text],.loginform_main li input[type=password]{ border:1px #e0e0e0 solid; height:30px}
.input_username{ width:248px}
.input_yzm{ width:100px}
.botton_a{ width:115px; height:36px; background:url(../images/login_reg_icon.png) no-repeat; background-position:-2px 0px}
.botton_b{ width:115px; height:36px; background:url(../images/login_reg_icon.png) no-repeat; background-position:-2px -100px; margin-left:20px}
.moresuerinfo input[type=text]{ width:248px}
.moresuerinfo textarea { width:300px}

/*会员中心页面*/
.mainright_userpic{ float:left}
.mainright_userpic img{ width:120px; height:120px; border:5px #FFFFFF solid}
.mainright_userinfo{ float:left; margin-left:20px; padding-top:10px; line-height:30px; color:#666666}
.mainright_userinfo span{ font-size:30px; font-weight:bold; color:#000000}
.mainright_userinfo a{ color:#0066CC}
.mainright_ksrk{ margin-top:20px; background:#FFFFFF; padding:15px 15px 0px 15px; border:1px #E0E0E0 solid;}
.mainright_ksrk li{ float:left; padding-left:10px; padding-right:10px;margin-bottom:15px}
.mainright_borderheader{ background:#3399FF; color:#FFFFFF; font-weight:bold}
.tableborder tr td input,.tableborder tr td textarea{ max-width:600px}
}

/* for 700px or less */
@media screen and (max-width: 700px) {
/*公共部分 */
body{font-size:16px}
.pconly{ display:none}
.mobileonly{ display:block}
.topheader{ height:50px; background:#292929; text-align:center}
.topheader1{ width:100%; margin:0 auto}
.logo{ float:left}
.opensidebar{float:right; color:#FFFFFF; height:50px; line-height:50px; font-size:16px; padding-right:10px}

.thisnav{ width:90%; text-align:left; padding-top:10px; padding-bottom:10px; font-size:12px;}
.navnotice{ background:url(../images/textbg.png) no-repeat; padding-left:5px; padding-right:10px; padding-top:2px; padding-bottom:2px; color:#FFFFFF; margin-right:15px}

.main{ width:100%; margin:0 auto}
.sidebar{ float:none; width:90%; background:#FFFFFF; border:1px #E0E0E0 solid; padding-bottom:30px; margin:0 auto; display:none}
.sidebar dl dt{ background:#1CB21C; width:90%; margin:0 auto; margin-top:20px; text-align:left; padding-left:20px; color:#FFFFFF; height:35px; line-height:35px; font-size:15px; font-weight:bold}
.sidebar dl dt a{ color:#FFFFFF}
.sidebar dl dd{ height:30px; line-height:30px; text-align:left}
.thisout dd{ display:none}
.mainright{  float:none; width:95%; text-align:left;  display:block; margin:0 auto}
.mainright_pagename{ height:30px; line-height:30px; border-bottom: 1px #E0E0E0 solid; padding-left:10px; font-size:18px; color:#F67F00; font-weight:bold; margin-bottom:20px}
.footer{ padding-top:30px; padding-bottom:30px; margin-top:30px; background:#FFFFFF; border-top:2px #E0E0E0 solid;}
/*用户登录*/
.loginform{ border:2px #E0E0E0 solid; width:95%; margin:20px auto; background:#FFFFFF}
.loginform_head{ height:80px; background:#F6F6F6}
.loginform_head_left{ float:left; font-size:30px; font-weight:bold; padding-left:20px; height:80px; line-height:80px; color:#333333}
.loginform_head_right{ float:right; margin-top:40px; margin-right:20px}
.loginform_head_right a{ color:#99CC00}
.loginform_main{ padding-top:20px; padding-bottom:30px}
.loginform_main li{ padding-top:3px; text-align:center}
.loginform_main li span{ display:block; text-align:left; padding-left:40px; height:20px; line-height:30px; width:90%; }
.loginform_main li input[type=text],.loginform_main li input[type=password]{ border:1px #e0e0e0 solid; height:30px; margin:0 auto}
.input_username{ width:248px}
.input_yzm{ width:100px}
.botton_a{ width:115px; height:36px; background:url(../images/login_reg_icon.png) no-repeat; background-position:-2px 0px}
.botton_b{ width:115px; height:36px; background:url(../images/login_reg_icon.png) no-repeat; background-position:-2px -100px; margin-left:20px}
.moresuerinfo input[type=text]{ width:248px}
.moresuerinfo textarea { width:248px}

/*会员中心页面*/
.mainright_userpic{ }
.mainright_userpic img{ width:120px; height:120px; border:5px #FFFFFF solid}
.mainright_userinfo{ margin-left:20px; padding-top:10px; line-height:30px; color:#666666}
.mainright_userinfo span{ font-size:30px; font-weight:bold; color:#000000}
.mainright_userinfo a{ color:#0066CC}
.mainright_ksrk{ margin-top:20px; background:#FFFFFF; padding:15px 10px 0px 10px; border:1px #E0E0E0 solid;}
.mainright_ksrk li{ float:left; padding-left:10px; padding-right:10px; margin-bottom:15px}
.mainright_borderheader{ background:#3399FF; color:#FFFFFF; font-weight:bold}
.tableborder tr td input,.tableborder tr td textarea{ max-width:240px}
}
